<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>welcome page</title>
</head>
<body>
<h2><p th:text="'Hi, ' + ${user.getNik()} + ', it`s my cold app with blackjack and hookers'"></p></h2>
<br>
<form th:method="GET" th:action="@{/kostApp/user/userPage/{id}(id = ${user.getId()})}">
    <input type="submit" value="show my data"/>
</form>
<br/>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="logout">
</form>
<br/>
<form th:method="GET" th:action="@{/admin}" th:if="${user.getRole().equals('ROLE_ADMIN')}">
    <input type="submit" value="admin shit"/>
</form>
<br>
<form th:method="GET" th:action="@{/kostApp/discussion/create}">
    <input type="submit" value="new discussion"/>
</form>
<br>
<br>
<br>
<br>
<h2>All Discussion for today</h2>
<br>
<br>
<div th:each="discussion : ${discussions}">
   <p th:text="${userService.showUserById(discussion.getUserId()).getNik()} + ' :'"></p>
    <a  th:href="@{/kostApp/discussion/discussionPage/{id}(id = ${discussion.getId()})}"><p th:text="${discussion.getName()}"></p></a>
</div>
</body>
</html>