<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>welcome page</title>
</head>
<body>
<h2>Hi, it`s my cold app with blackjack and hookers</h2>
<br>
<form th:method="GET" th:action="@{/kostApp/user/userPage/{id}(id = ${user.getId()})}">
    <input type="submit" value="show my data"/>
</form>
<br/>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="logout">
</form>
<br/>
<form th:method="GET" th:action="@{/admin}" th:if="${user.getRole().equals('ROLE_ADMIN')}">
    <input type="submit" value="admin shit"/>
</form>
<br>
<form th:method="GET" th:action="@{/kostApp/discussion/create}">
    <input type="submit" value="new discussion"/>
</form>
<br>
<br>
<br>
<br>
<h2>All Discussion for today</h2>
<br>
<br>
<div th:each="discussion : ${discussions}">
    <form th:method="GET" th:action="@{/kostApp/discussion/discussionPage/{id}(id = ${discussion.getId()})}">
        <input type="submit" th:value="${discussion.getName()}"/>
    </form>
    <br>
</div>
</body>
</html>