<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>discussion page</title>
</head>
<body>
here will be soon
<p th:text="${discussion.getName()}"></p>
<br>
<form th:method="DELETE" th:action="@{/kostApp/discussion/delete/{id}(id = ${discussion.getId()})}" th:if="${discussion.getUserId().equals(user.getId())}">
    <input type="submit" value="delete">
</form>
<form th:method="GET" th:action="@{/kostApp/welcome}">
    <input type="submit" value="go back to welcome page"/>
</form>
<br>
<form th:method="POST" th:action="@{/kostApp/Discussion/message/save/{id}(id = ${discussion.getId()})}" th:object="${message}">
    <label for="mes">Enter your message:</label>
    <input type="text" th:field="*{message}" id="mes"/>
    <br>
    <input type="hidden" th:value="${discussion.getName()}" name="discName">
    <input type="hidden" th:value="${discussion.getId}" name="discId">
    <input type="submit" value="sent">
</form>
<br>
<br>
<div th:each="message : ${messages}">
    <p th:text="${message.getMessage()}"></p>
</div>

</body>
</html>