<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
</head>
<body>

<form name="f" method="post" action="/process_login">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

    <label for="username">Enter username:</label>
    <input type="text" name="username" id="username"/>
    <br>
    <label for="password">Enter password:</label>
    <input type="password" name="password" id="password">
    <br>
    <input type="submit" value="login"/>
    <div th:if="${param.error}" style="color: red">
        Incorrect username or password
    </div>
</form>
<br>
<a href="/authentication/registration">register</a>

</body>
</html>